/*------------------index.html-------------------*/
 :root {
     --color-button: #4d5ae5;
     --background-button: #F4F4FD;
     --main-text-color: #434455;
     --background-color: #FFFFFF;
 }

body {
font-family: 'Roboto', sans-serif;
color: #434455;
background-color: var(--background-color);
}

p, h1,h2,h3,h4,h5,h6 {
  margin-top: 0;
  margin-bottom: 0;
}

img {
    display: block;
    max-width: 100%;
     height: auto;
}

ul {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}




.link {
    text-decoration: none;
}

.list {
    list-style-type: none;
}

.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    
 }



/**---------------header----------------------------*/


.header {
    padding-top: 24px;
    padding-bottom: 24px;
}

.header-container {
    display: flex;
}


.header-navigations {
    display: flex;
    flex-grow: 1;
   
}

.header-logo,
.footer-logo {
    font-family: 'Raleway', sans-serif;
}

.header-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    text-decoration: none;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.header-span {
    color: #2E2F42;
}

.header-logo {
    margin-right: 76px;
}

.header-menu {
    display: flex;
    gap: 40px;
    
}

.header-menu-link {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-decoration: none;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.header-menu-link:hover,
.header-menu-link:focus {
    color: #404BBF;
}


.header-address {
    font-style: normal;
  max-width: 343px;
}

.header-address-link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.header-address-link:hover,
.header-address-link:focus {
    color: #404BBF;
}

.header-address-list {
    display: flex;
    gap: 40px;
}


/*-------------------HERO------------------------*/

.hero-head-container {
    
         margin: 0 auto;
        
       
}

.hero-container {
    
    background: #2E2F42;
    padding: 188px 472px 48px 472px;
    
    }


.hero-head {
    background: #2E2F42;
   
    
}

.title {
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        text-align: center;
        letter-spacing: 0.02em;
        color: #FFFFFF;
        
        
       
       
}

.button-container {
padding: 0 636px 188px 636px;


}

.hero-btn {
    
        font-family: inherit;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: var(--background-color);
        background-color: var(--color-button);
        cursor: pointer;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            border-radius: 4px;
            padding: 16px 32px;
            
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #404BBF;
    color: #FFFFFF;
}

/**----------------------bussiness solutions-personal------------------------*/

.solutions-container {
    padding-top: 120px;
    padding-bottom: 120px;
}




.solutions-list {
    display: flex;
    gap: 24px;
}

.solutions-item {
    width: calc((100% - 72px) / 4);
}

.solutions-subtitle,
.subtitle-personal {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2E2F42;
        margin-bottom: 8px;
}

/**-----------------p-personal work--------------------------*/

.solutions-text,
.personal-job {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

/**-----------------h2+h2-----------------------------*/
.app {
    padding-bottom: 120px;
}

.subtitle-app,
.title-personal {
            font-weight: 700;
            font-size: 36px;
            line-height: 1.11;
            letter-spacing: 0.02em;
            text-transform: capitalize;
            text-align: center;
            color: #2E2F42;
}

/**--------------------images--------------------*/

.subtitle-app {
    padding-bottom: 72px;
}

.app-list {
    display: flex;
    gap: 24px;
}

/**--------------------ouer team------------------------*/


.personal {
    background: #F4F4FD;
}

.title-personal {
    padding-top: 120px;
    padding-bottom: 72px;
}



.personal-list {
    display: flex;
    gap: 24px;
    padding-bottom: 120px;
    
}
.personal-item {
    width: calc((100% - 72px) / 4);
}



.personal-item {
    background-color: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
        border-radius: 0px 0px 4px 4px;
        
}
.personal-name {
    display: block;
    flex-direction: column;
    gap: 8px;
}



/*.subtitle-personal {
    padding: 0 49px 8px 49px;
}

.personal-job {
    padding: 0 52px 0 52px;
}


.personal-name {
  
  padding: 32px 16px 32px 16px;
}
*/

/**--------------------footer---------------------------------*/

 footer {
     background: #2E2F42
 }

 .footer-container {
    padding: 100px 1020px 100px 0;
    
 }

 

 .footer-logo {
     font-family: 'Raleway', sans-serif;
     font-style: normal;
     font-weight: 800;
     font-size: 18px;
     line-height: 1.17;
     text-decoration: none;
     letter-spacing: 0.03em;
     text-transform: uppercase;
     color: #4D5AE5;
 }

 .footer-span {
     color: #F4F4FD;
 }


 .footer-text {
     font-weight: 400;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;

     color: #F4F4FD;
 }



/*------------------portfolio.html---------------*/





.link {
    text-decoration: none;
}

.list {
    list-style-type: none;
}
    /**----------------header--------------------*/
     
    
     .header-logo {
        font-family: 'Raleway', sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        text-decoration: none;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4D5AE5;
    } 
    
    .header-span {
        color: #2E2F42;
    }  
    
    ul {
        list-style-type: none;
    }
    
    .header-menu-link {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            text-decoration: none;
            letter-spacing: 0.02em;
            color: #2E2F42;
        }
    
    .header-menu-link:hover,
    .header-menu-link:focus {
        color: #404BBF;
    }
    
    
    .header-address {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #434455;
    }
    
    .header-address-link:hover,
    .header-address-link:focus {
        color: #404BBF;
    }
     
    /**---------------------main-buttons--------------------*/
    
    
    
                .hero-button-all {
                    font-family: inherit;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 1.5;
                    letter-spacing: 0.04em;
                    color: var(--color-button);
                    background-color: var(--background-button);
                    cursor: pointer;
                    
                }
        
                .hero-button-all:hover,
                .hero-button-all:focus {
                    background-color: #404BBF;
                    color: #FFFFFF;
                }
        
               
    /**----------------------ouer offers------------------*/
    
    h2 {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2E2F42;
    }
 
    .images-topic {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
 }

 /*---------------footer---------------------------*/
 
 footer {
    background: #2E2F42
 }

.footer-container {
    padding: 100px 1020px 100px 156px;
}
.footer-text {
    padding-top: 16px;
}

 .footer-logo {
font-family: 'Raleway',sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    text-decoration: none;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.footer-span {
    color: #F4F4FD;
}


.footer-text {
       font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    
        color: #F4F4FD;
}

